@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
}

.header{
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 8px;
}

.subheader{
    display: flex;
    justify-content: space-around;
    align-self: stretch;
}

.gameBoard {
    width: 30rem;
    height: 30rem;
    background-color: whitesmoke;
    overflow: hidden;
}

.gameGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 400;
    outline: solid lightgrey 2px;
}

.cell:hover {
    /* border: solid red 2px; */
    z-index: 1;
    /* box-shadow: 0px 0px 15px goldenrod; */
    border: solid gold 3px;
}